/*my style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
   position: relative;
   min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 18px;
    line-height: 36px;
    color: #999999;
    background: #fafafa;
    margin-bottom: 80px;
  }

  /* global styling */


         /* nav */

         .nav-link {
            color: #ffffff;
         }

         .nav-link:hover {
            background: #ffff00;
            color: #000000;
            font-weight: bold;
         }

         .navbar-brand {
            text-decoration: none;
         }

         /* headings */

         h1 {
            padding-top: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #343a40;
         }

         h2 {
            padding-top: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #343a40;
         }

         h5 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
            font-weight: bold;
         }

         .jumbotron {
            margin-top: 30px;
         }

         .row {
            margin-bottom: 10px;
         }
         

/* portfolio page styling */

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 40px;
}

/* button */

   #button:hover {
      background: #ffff00;
      color: #000000;
      font-weight: bold;
      border: none;
      box-shadow: #343a40;
      padding: 10px;
   }

   #button:focus {
      background: #ffff00;
      color: #000000;
      font-weight: bold;
      border: none;
      box-shadow: #343a40;
      padding: 10px;
   }

/* image on the bio page */

img  {
   width: 200px;
   height: 200px;
   margin-right: 30px;
   margin-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
   position: absolute;
   bottom: 0;
   height: 80px;
   width: 100%;
}

.footerstyle {
   text-align: center;
   color: #ffffff;
   padding: 20px;
   background: #343a40;
   margin: 0 auto;
   max-width: 1110px;
}

/* form styling */


label {
   margin-top: 20px;
   font-weight: bold;
}

input[type=text] {
   width: 96%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   padding: 12px 20px;
   margin: 3px 0;
   box-sizing: border-box;
   margin-bottom: 20px;
}

input[type=text]:focus, textarea:focus {
   border: 3px solid #ffff00;
   outline: none;
 }

textarea {
   width: 96%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   padding: 12px 20px;
   margin: 3px 0;
   box-sizing: border-box;
   height: 200px;
   margin-bottom: 10px;
}

button {
   background-color: #007bff;
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
   margin-bottom: 20px;
}

button:hover {
   background: #ffff00;
   color: #000000;
   font-weight: bold;
   border: none;
   box-shadow: #343a40;
}

button:focus {
   background: #ffff00;
   color: #000000;
   font-weight: bold;
   border: none;
   box-shadow: #343a40;
}